<style>
  html
  body{
    background-color: #fff;
    color: black;
    height: 29.7cm;
    min-height: auto;
  }
  @page {
    size: 21cm 29.7cm;
    margin: 30mm 45mm 30mm 45mm;
    /* change the margins as you want them to be. */
  }
  #data {
    display: flex;
    justify-content: space-between;
  }
  #name{
    font-size: x-large;
    text-align: center;
  }
  #photo img {
    width: 250px;
    height: 250px;
  }
</style>
<div id="doc">
  <h3 id="name"><span id="firstname">{{firstname}}</span> <span id="lastname">{{lastname}}</span></div>
<div id="data">
  <div id="bio">
    <div>Bio:</div>
    <div id="content">
      {{bio | raw}}
    </div>
  </div>
  <div id="photo"><img src="{{ photo }}" width="250px" height="250px" alt=""></div>
</div>
</div>
