<div id="doc">
  <h3 id="name"><span id="firstname">{{firstname}}</span> <span id="lastname">{{lastname}}</span></div>
<div id="data">
  <div id="bio">
    <div>Bio:</div>
    <div id="content">
      {{content}}
    </div>
  </div>
  <div id="photo"><img src="photo.jpg" width="250" height="250" alt=""></div>
</div>
</div>
